.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    gap: 5px;
}
.grid-items{
    background-color: aquamarine;
    border: 1px solid;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}